.carousal-image {
    padding-bottom: 15px;
    height: 350px;
  }
  
  .carousal-name {
    color: #41b840;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 25px;
  }
  